{{template "base" .}}
{{define "content"}}
    <div class="row">
        <h2>Dokumentieren von Delta-V Rezept daten</h2>
        <div>
            <h3>1. Allgemeines</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quis quisquam vel voluptatibus, quia quasi aliquam, dolor accusamus ex maxime vero aperiam eligendi ab ipsa alias adipisci aut sapiente dolorem.
            </p>
        </div>
        <div>
            <h3>2. Erklärungen</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quis quisquam vel voluptatibus, quia quasi aliquam, dolor accusamus ex maxime vero aperiam eligendi ab ipsa alias adipisci aut sapiente dolorem.
            </p>
        </div>
        <div>
            <h3>2. Abkürzungen</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quis quisquam vel voluptatibus, quia quasi aliquam, dolor accusamus ex maxime vero aperiam eligendi ab ipsa alias adipisci aut sapiente dolorem.
            </p>
        </div>
    </div>        
{{end}}