{{template "base" .}}
{{define "content"}}
    <h1 class="w3-theme-dark w3-center">Index Start Page</h1>    
   <p><i class="bi bi-cart"></i>this is a new paremter</p>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus itaque molestiae aperiam error esse amet incidunt earum fugit quos tempore repellat aut, adipisci et nesciunt asperiores doloremque maxime libero.</p>
   <div class="txt display-1">
    Hmm... &#xF242;
   </div>   
   <button class="btn-primary">Click mich</button>
{{end}}